
<br>
<h1> <center>Documentación de ApiRest de Perfumes</center> </h1> <br> 
<br>
<h4 style="color:black;"> Nombre: </h4>
<p style="color:black;">Corresponde a las palabras con las que se distingue el perfume. </p>
    <h4 style="color:black;"> Marca: </h4>
<p style="color:black;">  Corresponde al nombre, señal o símbolo que identifica el producto de una empresa. </p>
    <h4 style="color:black;"> Aroma:  </h4>
<p style="color:black;">  Corresponde al olor del perfume. </p>
    <h4 style="color:black;"> Precio:  </h4>
<p style="color:black;">  Corresponde al valor monetario del perfume. </p>
    <h4 style="color:black;"> Tipo: </h4>
<p style="color:black;">  Corresponde a por quién puede ser usado el perfume. </p>
    <h4 style="color:black;"> Cantidad:  </h4>
<p style="color:black;">  Corresponde a las unidades en ml que contiene la botella del perfume. </p>
    <h4 style="color:black;"> Foto:  </h4>
<p style="color:black;">  Corresponde al link de una imagen del perfume. </p>

<br>
<br>