<br>
<h1>
    <center>Documentación de ApiRest de Perfumes</center>
</h1> <br>
<br>

<h4> Nombre: </h4>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    Corresponde a las palabras con las que se distingue el perfume.
</div>
<h4 style="color:black;"> Marca: </h4>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    Corresponde al nombre, señal o símbolo que identifica el producto de una empresa.
</div>
<h4 style="color:black;"> Aroma: </h4>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    Corresponde al olor del perfume.
</div>
<h4 style="color:black;"> Precio: </h4>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    Corresponde al valor monetario del perfume.
</div>
<h4 style="color:black;"> Tipo: </h4>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    Corresponde a por quién puede ser usado el perfume.
</div>
<h4 style="color:black;"> Cantidad: </h4>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    Corresponde a las unidades en ml que contiene la botella del perfume.
</div>
<h4 style="color:black;"> Foto: </h4>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
 Corresponde al link de una imagen del perfume.
</div>

<br>
<br>