<div class="row">
{{#each datos }}
    <div class="col col-3 m-5">
    <div class="card" style="width:400px">
    <img class="card-img-top" src="{{foto}}" alt="Card image" style="width:200px">
    <div class="card-body">
      <h4 class="card-title">{{nombre}}</h4>
      <p class="card-text">{{marca}}</p>
    </div>
  </div>
  </div>
{{/each}}
</div>