<br>
<br>
<br>
<h1>Datos del elemento que desea modificar</h1>
<br>
<br>
<form action="/grabar" method="POST">
    <div class="form-group">
    <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre"
              placeholder="Nombre Perfume" name="nombre">
    </div>
    <div class="form-group">
      <label for="marca">Marca:</label>
      <input type="text" class="form-control" id="marca"
              placeholder="Marca del Perfume" name="imagen">
    </div>
    <div class="form-group">
      <label for="aroma">Aroma:</label>
      <input type="text" class="form-control" id="aroma"
              placeholder="Aroma del Perfume" name="imagen">
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad:</label>
      <input type="number" class="form-control" id="cantidad"
              placeholder="Cantidad del Perfume" name="imagen">
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" class="form-control" id="precio"
              placeholder="Precio del Perfume" name="precio">
    </div>
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <input type="text" class="form-control" id="tipo"
              placeholder="Tipo del Perfume" name="tipo">
    </div>
    <div class="form-group">
      <label for="foto">Foto:</label>
      <input type="text" class="form-control" id="foto"
              placeholder="Foto del Perfume" name="foto">
    </div>
    <button type="submit" class="btn btn-primary">Modificar</button>
</form>
