<br>
<div class="alert alert-success" role="alert">
<h3>Se realizo la operación exitosa</h3>
</div>

<br>
<div class="card" style="width: 18rem;">
    <img src="{{foto}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{nombre}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{marca}}</li>
        <li class="list-group-item">{{cantidad}}</li>
    </ul>
    <div class="card-body">
        <a class="btn btn-primary" href="/" role="button">Inicio</a>
        <!-- Button trigger modal -->
        
    </div>
</div>